@import "tailwindcss";

@font-face {
    font-family: 'Interlope-Regular';
    src: url('/fonts/Interlope-Regular.woff2') format('woff2'),
         url('/fonts/Interlope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@theme {
--font-interlope: 'Interlope-Regular', sans-serif;
}

@font-face {
    font-family: 'Terminal-Grotesque';
    src: url('/fonts/terminal-grotesque-webfont.woff2') format('woff2'),
         url('/fonts/terminal-grotesque-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@theme {
--font-terminal: 'Terminal-Grotesque', sans-serif;
}